@model Timetable.Models.Lesson

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="number" class="control-label"></label>
                <input asp-for="number" class="form-control" />
                <span asp-validation-for="number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="place" class="control-label"></label>
                <input asp-for="place" class="form-control" />
                <span asp-validation-for="place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="teacher" class="control-label"></label>
                <input asp-for="teacher" class="form-control" />
                <span asp-validation-for="teacher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="starts" class="control-label"></label>
                <input asp-for="starts" class="form-control" />
                <span asp-validation-for="starts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ends" class="control-label"></label>
                <input asp-for="ends" class="form-control" />
                <span asp-validation-for="ends" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="DayId" class="form-control" value=@ViewBag.DayId />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
